<launch>
  <arg name="auto_start" default="false"/>
  <arg name="dry_run" default="true"/>
  <arg name="mock_qr_text" default="man,apple,left"/>
  <arg name="enable_safety_auto_land" default="false"/>
  <arg name="start_planner" default="true"/>
  <arg name="start_fake_odom" default="$(arg dry_run)"/>
  <arg name="start_k230_serial" default="false"/>
  <arg name="k230_serial_port" default="/dev/ttyACM0"/>
  <arg name="k230_baud_rate" default="115200"/>
  <arg name="start_k230_bridge" default="false"/>
  <arg name="k230_mode" default="udp"/>

  <group if="$(arg start_planner)">
    <include file="$(find craic_mission)/launch/competition_planner.launch"/>
  </group>

  <group if="$(arg start_k230_bridge)">
    <include file="$(find craic_mission)/launch/k230_bridge.launch">
      <arg name="mode" value="$(arg k230_mode)"/>
    </include>
  </group>

  <group if="$(arg start_k230_serial)">
    <include file="$(find craic_mission)/launch/k230_serial_node.launch">
      <arg name="serial_port" value="$(arg k230_serial_port)"/>
      <arg name="baud_rate" value="$(arg k230_baud_rate)"/>
    </include>
  </group>

  <include file="$(find craic_mission)/launch/competition_mission.launch">
    <arg name="auto_start" value="$(arg auto_start)"/>
    <arg name="dry_run" value="$(arg dry_run)"/>
    <arg name="mock_qr_text" value="$(arg mock_qr_text)"/>
    <arg name="enable_safety_auto_land" value="$(arg enable_safety_auto_land)"/>
    <arg name="start_fake_odom" value="$(arg start_fake_odom)"/>
  </include>
</launch>
