build/
devel/
logs/
.catkin_tools/
.vscode/ipch/
*.bag
*.mp4
*.avi
*.pyc
__pycache__/
.DS_Store
*.log
src/build/
src/realflight_modules/mid360_fastlio/build/
src/realflight_modules/mid360_fastlio/devel/
backup_dirty_before_craic_cleanup.patch
*.zip
data/
src/realflight_modules/px4ctrl/data/
.vscode/
.catkin_workspace
src/Livox-SDK2/
src/graph/
k230_files.txt
